<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jindev.vict.dao.UserDao">
    <select id="testSelect">
        SELECT * FROM dual
    </select>

    <insert id="insert" parameterType="com.jindev.vict.member.MemberDto">
        INSERT INTO
        TB_USER (USER_UNIQUE_NUM, EMAIL, PWD, NAME, REG_DATE, USE_YN, LOGIN_TYPE, SOCIAL_KEY)
        values(
        USER_UNIQUE_NUM.NEXTVAL,
        #{email},
        #{pwd},
        #{name},
        sysdate,
        #{useYn},
        #{loginType},
        #{socialKey}
        )
    </insert>
    <select id="getEmailExist" resultType="int" parameterType="String">
        SELECT (
            CASE WHEN EXISTS (
                SELECT 1
                FROM TB_USER
                WHERE USE_YN = 'Y'
                AND EMAIL= #{email}
            )
            THEN '1'
            ELSE '0'
            END
        ) AS EXIST
        FROM TB_USER TU
        WHERE ROWNUM = 1
    </select>

    <select id="getLoginInfo" resultType="com.jindev.vict.member.LoginForm" parameterType="Map">

        SELECT
        TU.EMAIL,
        TU.PWD,
        TU.USE_YN
        FROM TB_USER TU
        WHERE
        TU.EMAIL=#{email}
        AND TU.USE_YN = 'Y'
        AND TU.REG_DATE IS NOT NULL
        AND TU.LEAVE_DATE IS NULL
    </select>
</mapper>
